@font-face {
    font-family: 'amoera';
    src: url('../assets/amoera.ttf') format('truetype');
}

.navbar-brand {
    font-family: 'amoera', sans-serif;
    font-size: 28px;
}

.navbar{
    background-color: rgba(226, 114, 91);
}

.hero {
    background: url('../assets/coworking.png') center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* supaya teks di atas overlay */
.hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
}

.hero h1 {
    font-family: 'amoera', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
}
.container h2{
    font-family: 'amoera', sans-serif;
    font-size: 60px;
    font-weight: bold;

}

.form {
    background: url('../assets/coworking.png') center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
}


.card {
    background-color:rgba(226, 114, 91, 0.496);
    border: none;
}

.form h2{
    color: #ffffff;
    font-family: 'amoera', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.form-label{
     color: #ffffff;
}

.form2{
     color: #ffffff;
}

.landing {
    background: url('../assets/coworking.png') center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
}


.landing-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
}
.landing h3{
    color:white;
    font-family: 'amoera', sans-serif;
    font-size: 30px;
    font-weight: bold;

}

.btn-jogspace {
    background-color: rgba(226, 114, 91, 1);
    color: white;
    border: none;
}

.btn-jogspace:hover {
    background-color: rgba(226, 114, 91, 0.8);
    color: white;
}

.hero::before,
.form::before,
.landing::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero > *,
.form > *,
.landing > * {
    position: relative;
    z-index: 2;
}



